# Виртуальное окружение
venv/
env/

# Локальная база данных
db.postgres

# Собранные статические файлы
staticfiles/

# Медиафайлы (если они не нужны в репозитории)
media/

# Логи и временные файлы
*.log
*.pyc
__pycache__/
*.py[cod]

# Файлы IDE
.idea/
*.swp
.DS_Store