# Dependencies
node_modules/
venv/
env/

# Cache
.cache/
.pytest_cache/
__pycache__/

# IDE / Editor specific
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Django specific
*.log
db.sqlite3
staticfiles/

# OS specific
.DS_Store
Thumbs.db

# Локальная база данных
db.postgres

# Медиафайлы (если они не нужны в репозитории)
media/

# Файлы IDE
*.swp
