# Dependencies
node_modules/
venv/
env/

# Cache
.cache/
.pytest_cache/
__pycache__/

# IDE / Editor specific
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Build artifacts
build/
dist/
*.egg-info/

# Django specific
*.log
db.sqlite3
staticfiles/

# OS specific
.DS_Store
Thumbs.db

# Локальная база данных
db.postgres

# Медиафайлы (если они не нужны в репозитории)
media/

# Файлы IDE
*.swp

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# --- Environment ---
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# --- VSCode ---
# Игнорируем все, кроме важных для проекта настроек
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# --- Node ---
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
# Если вы используете yarn, добавьте yarn.lock

# --- Staticfiles (Django) ---
staticfiles/

# --- Build assets (Vite) ---
/static/dist

# Other
bandit_report.json
