{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Страница не найдена</title>
    <link rel="stylesheet" href="{% static 'accounts/css/404.css' %}">
</head>
<body class="notfound-body">
    <div class="notfound-bg"></div>
    <div class="notfound-center-block">
        <div class="notfound-cosmoboy">
            <img src="{% static 'accounts/images/404/cosmoboy.png' %}" alt="cosmoboy" />
        </div>
        <div class="notfound-content">
            <div class="notfound-title">ОооОопс</div>
            <div class="notfound-desc">что то тут не так, уже проверяем</div>
            <a href="/" class="notfound-btn">Главная страница</a>
        </div>
    </div>
</body>
</html>