{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main_temp.css' %}">

<div class="div">
    <div class="featured">
        <div class="group">
            <div class="div5">
                <span class="txt">
                    <span>Маркетплейс</span>
                    <span class="span">, где стартаперы находят финансирование, а инвесторы — перспективные идеи</span>
                </span>
            </div>
            <div class="div6">Создавай </div>
            <div class="div7">будущее</div>
            <div class="button1">
                <div class="cosmochat">Зарегистрировать стартап</div>
                <img class="iconsarrow-right-2line" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            </div>
            <div class="button2">
                <div class="cosmochat">Найти стартап</div>
                <img class="iconsarrow-right-2line" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            </div>
            <div class="frame-child">
            </div>
            <div class="frame-item">
            </div>
            <div class="frame-inner">
            </div>
            <div class="ellipse-div">
            </div>
            <div class="frame-child1">
            </div>
            <img class="icon1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon4" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon5" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon6" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon7" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <img class="icon8" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

        </div>
        <img class="featured-child" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

        <img class="featured-item" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

    </div>
    <div class="featured1">
        <div class="featured-parent">
            <div class="featured2">
                <div class="container">
                    <div class="div8">Геймификация</div>
                    <div class="div9">Создавайте планеты и запускайте ракеты — инвестиции как приключение</div>
                    <img class="rectangle-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
                <div class="container">
                    <div class="div8">Сообщество</div>
                    <div class="div11">Объединяем визионеров и инвесторов со всей России</div>
                    <img class="rectangle-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
                <div class="container">
                    <div class="div8">Прозрачность</div>
                    <div class="div11">Проверенные стартапы и безопасные сделки</div>
                    <img class="rectangle-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
                <div class="container">
                    <div class="div8">Поддержка</div>
                    <div class="div11">Инструменты для роста стартапов и аналитика для инвесторов</div>
                    <img class="rectangle-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
            </div>
            <div class="heading">
                <div class="parent3">
                    <div class="div16">Почему</div>
                    <div class="div17">выбирают нас?</div>
                </div>
                <div class="wrap">
                    <div class="button3">
                        <div class="chevron-left">
                            <img class="vector-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="button4">
                        <div class="chevron-left">
                            <img class="vector-icon1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="chevron-forward-circle-outline-parent">
                        <img class="chevron-forward-circle-outline-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <img class="chevron-forward-circle-outline-icon1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured3">
        <div class="frame-parent">
            <div class="parent4">
                <img class="icon9" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                <div class="heading1">
                    <div class="div18">
                        <span class="txt">
                            <span>Стартаперы,</span>
                            <span class="span1"> создайте свою планету!</span>
                        </span>
                    </div>
                    <div class="frame-group">
                        <div class="chevron-forward-circle-outline-parent">
                            <img class="frame-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="faq">Найти финансирование</div>
                        </div>
                        <div class="chevron-forward-circle-outline-parent">
                            <img class="frame-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="div20">
                                <span class="txt">
                                    <span>Получить экспертную поддержку </span>
                                    <span class="span2">(менторство, аналитика)</span>
                                </span>
                            </div>
                        </div>
                        <div class="frame-parent2">
                            <img class="frame-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="div20">Продать идею или масштабировать бизнес</div>
                        </div>
                    </div>
                    <div class="parent5">
                        <div class="div22">Создать стартап</div>
                        <img class="add-circle-outline-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                </div>
            </div>
            <div class="scale-1200-photoroom-2-parent">
                <img class="scale-1200-photoroom-2-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                <div class="vector-parent">
                    <img class="frame-child7" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    <img class="frame-child8" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
            </div>
        </div>
    </div>
    <div class="featured4">
        <div class="frame-parent3">
            <div class="parent6">
                <div class="div23">
                    <span class="txt">
                        <span>Инвесторы, </span>
                        <span class="span3">найдите свою звезду!</span>
                    </span>
                </div>
                <div class="group-parent">
                    <div class="group-div">
                        <div class="wrapper">
                            <div class="div24">Доступ к проверенным стартапам</div>
                        </div>
                        <img class="group-child" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                    <div class="group-div">
                        <div class="wrapper">
                            <div class="div25">Диверсификация портфеля</div>
                        </div>
                        <img class="group-item" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                    <div class="frame-parent5">
                        <div class="wrapper1">
                            <div class="div26">Удобная аналитика и фильтры для выбора проектов</div>
                        </div>
                        <img class="group-inner" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                </div>
                <div class="parent7">
                    <div class="div22">Посмотреть стартапы</div>
                    <img class="iconeye" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
            </div>
            <img class="icon10" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

        </div>
    </div>
    <div class="featured5">
        <div class="frame-parent6">
            <div class="parent8">
                <div class="div28">Исследуйте</div>
                <div class="div29">новые миры</div>
            </div>
            <div class="frame-parent7">
                <div class="frame-parent8">
                    <div class="group-wrapper">
                        <div class="rectangle-parent">
                            <img class="group-child1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="group-child2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="parent9">
                        <div class="div22">Все стартапы</div>
                        <img class="iconsarrow-right-2line" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    </div>
                </div>
                <div class="frame-parent9">
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">VoltForge Dynamics</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                        <div class="label2">
                                            <div class="popular">4,4/5</div>
                                        </div>
                                        <div class="of-20">1 of 4</div>
                                    </div>
                                </div>
                                <div class="voltforge">VoltForge разрабатывает твердотельные батареи с графеновыми наноструктурами, которые заряжаются...</div>
                                <div class="button5">
                                    <div class="cosmochat">Подробнее</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">NeuroBloom</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                        <div class="label2">
                                            <div class="popular">4,4/5</div>
                                        </div>
                                        <div class="of-20">1 of 4</div>
                                    </div>
                                </div>
                                <div class="voltforge">NeuroBloom предлагает носимый гаджет с ИИ, который анализирует нейронные паттерны для раннего выявления тревоги, депрессии и выгорания.</div>
                                <div class="button5">
                                    <div class="cosmochat">Подробнее</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">BioCrop Nexus</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                        <div class="label2">
                                            <div class="popular">4,4/5</div>
                                        </div>
                                        <div class="of-20">1 of 4</div>
                                    </div>
                                </div>
                                <div class="voltforge">BioCrop Nexus создает генетически оптимизированные семена, устойчивые к экстремальным климатическим условиям и вредителям. </div>
                                <div class="button5">
                                    <div class="cosmochat">Подробнее</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider">
                </div>
                <div class="creators">
                    <div class="div31">Последние обновления от стартаперов 🔥</div>
                    <div class="frame-parent13">
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <div class="user">
                                    <img class="avatar01-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="number">
                                        <div class="div32">6</div>
                                    </div>
                                </div>
                                <div class="name-parent">
                                    <div class="frame-wrapper">
                                        <div class="parent10">
                                            <div class="cosmochat">Виктор</div>
                                            <div class="cosmochat">Смирнов</div>
                                        </div>
                                    </div>
                                    <div class="parent11">
                                        <div class="great-edeas">Рейтинг</div>
                                        <div class="div36">4,5/5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider1">
                            </div>
                        </div>
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <div class="user">
                                    <img class="avatar01-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="number">
                                        <div class="div32">6</div>
                                    </div>
                                </div>
                                <div class="name-parent">
                                    <div class="frame-wrapper">
                                        <div class="parent10">
                                            <div class="cosmochat">Виктор</div>
                                            <div class="cosmochat">Смирнов</div>
                                        </div>
                                    </div>
                                    <div class="parent11">
                                        <div class="great-edeas">Рейтинг</div>
                                        <div class="div36">4,5/5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider1">
                            </div>
                        </div>
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <div class="user">
                                    <img class="avatar01-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="number">
                                        <div class="div32">6</div>
                                    </div>
                                </div>
                                <div class="name-parent">
                                    <div class="frame-wrapper">
                                        <div class="parent10">
                                            <div class="cosmochat">Виктор</div>
                                            <div class="cosmochat">Смирнов</div>
                                        </div>
                                    </div>
                                    <div class="parent11">
                                        <div class="great-edeas">Рейтинг</div>
                                        <div class="div36">4,5/5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider1">
                            </div>
                        </div>
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <div class="user">
                                    <img class="avatar01-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="number">
                                        <div class="div32">6</div>
                                    </div>
                                </div>
                                <div class="name-parent">
                                    <div class="frame-wrapper">
                                        <div class="parent10">
                                            <div class="cosmochat">Виктор</div>
                                            <div class="cosmochat">Смирнов</div>
                                        </div>
                                    </div>
                                    <div class="parent11">
                                        <div class="great-edeas">Рейтинг</div>
                                        <div class="div36">4,5/5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider1">
                            </div>
                        </div>
                        <div class="button8">
                            <div class="cosmochat">Все стартапы</div>
                            <img class="iconsarrow-right-2line" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured6">
        <div class="frame-parent18">
            <div class="parent18">
                <div class="div52">Как работает</div>
                <div class="div29">наша галактика?</div>
            </div>
            <img class="frame-child12" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            <div class="div28">Регистрация стартапа</div>
            <div class="chevron-forward-circle-outline-group">
                <img class="chevron-forward-circle-outline-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                <div class="wrapper2">
                    <div class="div55">1 шаг</div>
                </div>
                <img class="chevron-forward-circle-outline-icon1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            </div>
        </div>
    </div>
    <div class="featured7">
        <div class="frame-parent19">
            <div class="group-container">
                <div class="group-frame">
                    <div class="scale-1200-photoroom-2-group">
                        <img class="scale-1200-photoroom-2-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <img class="group-child3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <div class="group-parent1">
                            <div class="message-send-time-parent">
                                <img class="message-send-time" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                <div class="message-wrapper">
                                    <div class="cosmochat">Умные уведомления</div>
                                </div>
                            </div>
                            <img class="bubble-tail" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent20">
                                <div class="message-container">
                                    <div class="cosmochat">Мобильная аналитика</div>
                                </div>
                                <img class="bubble-tail1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="great-ideas-parent">
                    <div class="great-ideas">Great Ideas</div>
                    <div class="div56">это платформа, которая превращает ваш смартфон в портал для глобальных инвестиций. Больше не нужно привязываться к офису или времени</div>
                </div>
            </div>
            <div class="frame-parent21">
                <div class="frame-parent22">
                    <div class="frame-parent23">
                        <div class="group-group">
                            <img class="group-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="group-icon1" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="group-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                        <div class="group-parent2">
                            <img class="frame-child13" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child14" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="path46-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="parent19">
                        <div class="div57">Геймификация бизнеса</div>
                        <div class="div58">Удобное приложение для инвестирования и открытия стартапа. Предлагай идеи для бизнеса и инвестируй в будущее </div>
                    </div>
                </div>
                <div class="ellipse-parent">
                    <div class="frame-child15">
                    </div>
                    <img class="icon11" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    <img class="icon12" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    <div class="parent20">
                        <div class="div57">Стартапы, меняющие индустрию</div>
                        <div class="div60">Все больше стартапов разрабатывают технологии. Инвестирование в эти компании — это шанс поддержать инновации и извлечь выгоду от растущего рынка</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured8">
        <div class="frame-parent18">
            <div class="parent21">
                <div class="faq">Истории успеха </div>
                <div class="div62">в нашей галактике</div>
            </div>
            <div class="frame-parent25">
                <div class="chevron-forward-circle-outline-container">
                    <img class="chevron-forward-circle-outline-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    <div class="parent22">
                        <img class="icon13" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <div class="frame-child16">
                        </div>
                        <div class="div63">Виктор</div>
                        <div class="wrapper3">
                            <div class="div22">Инвестор</div>
                        </div>
                        <div class="div65">Наш стартап разрабатывает инновационную платформу для телемедицины, которая обеспечивает пользователям доступ к качественным медицинским консультациям в любое время и в любом месте, уменьшая необходимость в личных визитах к врачам...</div>
                        <div class="vector-group">
                            <img class="vector-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child17" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child18" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="parent22">
                        <img class="icon13" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <div class="frame-child16">
                        </div>
                        <div class="div63">Евгений</div>
                        <div class="wrapper3">
                            <div class="div22">Стартапер</div>
                        </div>
                        <div class="div65">Наш стартап разрабатывает инновационную платформу для телемедицины, которая обеспечивает пользователям доступ к качественным медицинским консультациям в любое время и в любом месте, уменьшая необходимость в личных визитах к врачам...</div>
                        <div class="vector-group">
                            <img class="vector-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child17" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child18" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="parent22">
                        <img class="icon13" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <div class="frame-child16">
                        </div>
                        <div class="div63">Алена</div>
                        <div class="wrapper3">
                            <div class="div22">Инвестор</div>
                        </div>
                        <div class="div65">Наш стартап разрабатывает инновационную платформу для телемедицины, которая обеспечивает пользователям доступ к качественным медицинским консультациям в любое время и в любом месте, уменьшая необходимость в личных визитах к врачам...</div>
                        <div class="vector-group">
                            <img class="vector-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child18" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="parent22">
                        <img class="icon13" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        <div class="frame-child16">
                        </div>
                        <div class="div63">Алена</div>
                        <div class="wrapper3">
                            <div class="div22">Инвестор</div>
                        </div>
                        <div class="div65">Наш стартап разрабатывает инновационную платформу для телемедицины, которая обеспечивает пользователям доступ к качественным медицинским консультациям в любое время и в любом месте, уменьшая необходимость в личных визитах к врачам...</div>
                        <div class="vector-group">
                            <img class="vector-icon2" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="vector-icon3" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <img class="frame-child18" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                </div>
                <img class="group-child4" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

            </div>
        </div>
    </div>
    <div class="featured9">
        <div class="heading-parent">
            <div class="heading2">
                <div class="parent26">
                    <div class="div16">Новости</div>
                    <div class="div17">нашей галактики</div>
                </div>
                <div class="great-ideas1">Свежие новости на платформе Great Ideas</div>
                <div class="rectangle-group">
                    <img class="frame-child26" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                    <div class="parent27">
                        <div class="div77">Лучшие ракеты или турбо режим на лайте</div>
                        <div class="button9">
                            <div class="div22">Подробнее</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instance-parent">
                <div class="instance-wrapper">
                    <div class="frame-wrapper3">
                        <div class="rectangle-container">
                            <img class="frame-child27" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent26">
                                <div class="img-7665-parent">
                                    <img class="img-7665-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="parent28">
                                        <div class="div22">Ромашка</div>
                                        <div class="div79">2 дня назад</div>
                                    </div>
                                </div>
                                <div class="parent29">
                                    <div class="div80">Лучшие ракеты или турбо режим на лайте</div>
                                    <div class="div81">Наш стартап разрабатывает инновационную платформу для...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-wrapper">
                    <div class="frame-wrapper3">
                        <div class="rectangle-container">
                            <img class="frame-child27" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent26">
                                <div class="img-7665-parent">
                                    <img class="img-7665-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="parent28">
                                        <div class="div22">Ромашка</div>
                                        <div class="div79">2 дня назад</div>
                                    </div>
                                </div>
                                <div class="parent29">
                                    <div class="div80">Лучшие ракеты или турбо режим на лайте</div>
                                    <div class="div81">Наш стартап разрабатывает инновационную платформу для...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-wrapper">
                    <div class="frame-wrapper3">
                        <div class="rectangle-container">
                            <img class="frame-child27" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent26">
                                <div class="img-7665-parent">
                                    <img class="img-7665-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="parent28">
                                        <div class="div22">Ромашка</div>
                                        <div class="div79">2 дня назад</div>
                                    </div>
                                </div>
                                <div class="parent29">
                                    <div class="div80">Лучшие ракеты или турбо режим на лайте</div>
                                    <div class="div81">Наш стартап разрабатывает инновационную платформу для...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-wrapper">
                    <div class="frame-wrapper3">
                        <div class="rectangle-container">
                            <img class="frame-child27" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent26">
                                <div class="img-7665-parent">
                                    <img class="img-7665-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="parent28">
                                        <div class="div22">Ромашка</div>
                                        <div class="div79">2 дня назад</div>
                                    </div>
                                </div>
                                <div class="parent29">
                                    <div class="div80">Лучшие ракеты или турбо режим на лайте</div>
                                    <div class="div81">Наш стартап разрабатывает инновационную платформу для...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-wrapper">
                    <div class="frame-wrapper3">
                        <div class="rectangle-container">
                            <img class="frame-child27" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            <div class="frame-parent26">
                                <div class="img-7665-parent">
                                    <img class="img-7665-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                    <div class="parent28">
                                        <div class="div22">Ромашка</div>
                                        <div class="div79">2 дня назад</div>
                                    </div>
                                </div>
                                <div class="parent29">
                                    <div class="div80">Лучшие ракеты или турбо режим на лайте</div>
                                    <div class="div81">Наш стартап разрабатывает инновационную платформу для...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-wrapper3">
                    <div class="instance-wrapper4">
                        <div class="button-parent">
                            <div class="div22">Показать еще</div>
                            <div class="iconsarrow-right-2line">
                                <img class="vector-icon20" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured10">
        <div class="featured11">
            <div class="featured-inner">
            </div>
            <div class="featured-child1">
            </div>
            <div class="form">
                <div class="form1">
                    <div class="cosmochat">Email</div>
                </div>
                <div class="wrap1">
                    <div class="text">
                        <div class="icon17">
                            <div class="check">
                                <img class="vector-icon21" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            </div>
                        </div>
                        <div class="div98">Я даю согласие на обработку персональных данных</div>
                    </div>
                    <div class="parent38">
                        <div class="div22">Подписаться</div>
                        <div class="send">
                            <img class="vector-icon22" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-parent31">
                <div class="parent3">
                    <div class="div16">Будьте в курсе</div>
                    <div class="div101">новых звезд!</div>
                </div>
                <div class="featured12">
                    <div class="featured13">
                        <div class="icon18">
                            <div class="campaign">
                                <img class="vector-icon23" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            </div>
                        </div>
                        <div class="div102">
                            <span>Получай </span>
                            <span class="span4">свежие новости</span>
                            <span> о космических события вашей галактики и об инвестированных стартапах</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-parent32">
                <div class="parent40">
                    <div class="div16">Бонус</div>
                    <div class="div104">Получите чек-лист для стартапов за подписку</div>
                </div>
                <div class="frame-child32">
                </div>
            </div>
        </div>
    </div>
    <div class="featured14">
        <div class="heading-group">
            <div class="heading2">
                <div class="faq-parent">
                    <div class="faq">FAQ</div>
                    <div class="div105">
                        <span class="txt">
                            <p class="p">Часто </p>
                            <p class="p">задаваемые вопросы</p>
                        </span>
                    </div>
                </div>
                <div class="text1">
                    <div class="div106">Не нашли ответа?</div>
                    <div class="wrapper7">
                        <div class="div22">Задать вопрос</div>
                    </div>
                </div>
            </div>
            <div class="rectangle-parent5">
                <div class="rectangle-div">
                </div>
                <div class="frame-child33">
                </div>
                <div class="parent41">
                    <div class="div108">Какие виды франшиз можно размещать?</div>
                    <div class="it-parent">
                        <div class="it">Франшизы в сферах общественного питания, розничной торговли, услуг для бизнеса, образования, здоровья/красоты, IT и других. </div>
                        <div class="parent42">
                            <div class="great-edeas">Список доступных сфер</div>
                            <img class="frame-child34" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <div class="button12">
                        <div class="div22">Что такое «Great Ideas»?</div>
                    </div>
                    <div class="button-container">
                        <div class="button13">
                            <div class="div110">Для стартаперов и владельцев франшиз</div>
                            <div class="iconsarrow-right-2line">
                                <img class="icon19" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                            </div>
                        </div>
                        <div class="button-parent1">
                            <div class="button14">
                                <div class="div111">Создание и ведение профиля стартапа</div>
                                <div class="iconsarrow-right-2line">
                                    <img class="icon19" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                                </div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Как зарегистрироваться на платформе «Great Ideas»?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Как правильно оформить профиль стартапа?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Можно ли редактировать информацию после публикации?</div>
                            </div>
                            <div class="button18">
                                <div class="great-ideas3">Какие виды франшиз можно размещать?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">сть ли ограничения на размещение франшиз?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Какие требования для размещения франшизы?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Проверяет ли платформа франшизы перед публикацией?</div>
                            </div>
                            <div class="button15">
                                <div class="great-ideas3">Как защищена конфиденциальность данных франшизы?</div>
                            </div>
                        </div>
                    </div>
                    <div class="button14">
                        <div class="div111">Привлечение инвестиций</div>
                        <div class="iconsarrow-right-2line">
                            <img class="icon19" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                    <div class="button13">
                        <div class="div111">Для инвесторов</div>
                        <div class="iconsarrow-right-2line">
                            <img class="icon19" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                        </div>
                    </div>
                </div>
                <div class="frame-child35">
                </div>
            </div>
        </div>
    </div>
    <div class="cta">
        <div class="div146">
        </div>
        <div class="heading4">
            <div class="parent45">
                <div class="div16">Готовы</div>
                <div class="div148">покорить галактику?</div>
            </div>
            <div class="text2">
                <div class="parent46">
                    <div class="div22">Создать стартап</div>
                    <img class="add-circle-outline-icon" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
                <div class="parent47">
                    <div class="div22">Инвестировать</div>
                    <img class="iconeye" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

                </div>
            </div>
        </div>
        <img class="clip-path-group" alt="" src="https://placehold.co/600x400?text=ImagePlaceholder">

    </div>
</div>
<script src="{% static 'accounts/js/main_temp.js' %}"></script>
{% endblock %}