{% extends "accounts/base.html" %}
{% load static %}
{% load django_vite %}

{% block title %}Панель управления модератора{% endblock %}

{% block head_extra %}
    {# Старые стили можно будет удалить или перенести в Vue компоненты #}
    {# <link rel="stylesheet" href="{% static 'accounts/css/main_page_moderator.css' %}?v={% now 'U' %}"> #}
    {% vite_asset 'frontend/main.js' %}
{% endblock %}

{% block content %}
  <div id="app">
    <!-- Сюда будет смонтировано Vue-приложение -->
  </div>
{% endblock %}

{% block scripts %}
  {# django-vite автоматически подключит сюда JS, так как CSS уже был подключен в head #}
{% endblock %}
