{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Создать заявку - Поддержка{% endblock %}

{% block head_extra %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/support_contact.css' %}?v={% now 'U' %}">
<style>
  main.content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="support-contact-page">
  <div class="support-contact-container">
    <div class="back-link-container">
      <a href="{% url 'support_orders' %}" class="back-link">
        <img src="{% static 'accounts/images/support/arrow_left.svg' %}" alt="Назад" class="back-link-icon">
        <span>Назад</span>
      </a>
    </div>

    <div class="support-contact-main-content">
      <section class="form-section">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <label for="{{ form.attachment.id_for_label }}">Вложение</label>
            {{ form.attachment }}
          </div>
          <button type="submit" class="btn-submit-support">Отправить</button>
        </form>
      </section>

      <section class="info-section">
        <h2>Есть вопрос?</h2>
        <div class="search-bar-support-contact">
          <img src="{% static 'accounts/images/support/search_gray.svg' %}" alt="Поиск" class="search-icon">
          <input type="text" placeholder="Поиск">
        </div>
        <a href="#" class="image-link">
          <img src="{% static 'accounts/images/support/support_center_block.png' %}" alt="Справочный центр" class="info-image-support-center">
        </a>
      </section>
    </div>
  </div>
</div>

<script src="{% static 'accounts/js/support_contact.js' %}"></script>
{% endblock %}

{% block body_extra_js %}
{{ request.user.user_id|default:0|json_script:"request_user_id_data" }}
{% endblock %}