@font-face {
  font-family: 'Blippo Local';
  src: url('../fonts/blippo_blackcyrusbyme.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  src: url('../fonts/Unbounded-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Variable.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: 'Koulen';
  src: url('../fonts/Koulen/Koulen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Variable.ttf') format('truetype-variations');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Variable.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-style: normal;
}
