html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #7b61ff;
  --secondary-color: #818ce5;
  --text-dark: #191919;
  --text-light: #fff;
  --text-gray: #a9a9a9;
  --background-light: #fff;
  --border-light-gray: #dee2e6;
  --search-bg: #444;
  --search-text: #a1a0a0;
}

body {
  margin: 0;
  padding-top: 0 !important;
  padding-right: 0;
  padding-bottom: 0 !important;
  padding-left: 0;
  font-family: Unbounded, Arial, sans-serif;
  background: linear-gradient(
    178.72deg,
    #000 0%,
    #00346b 25%,
    #004e9f 47.6%,
    #01366d 64.42%,
    #020202 100%
  );
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.content {
  flex-grow: 1;
  padding: 20px 0;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
