
body {
    background: #000 !important;
    
    overflow-y: auto !important; 
    overflow-x: hidden !important;
}


#starfield-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}


main.content {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    padding: 40px 20px; 
    position: relative;
    z-index: 1;
    min-height: 100vh; 
    box-sizing: border-box;
}


.auth-container {
    position: relative;
    z-index: 1;
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.auth-box {
    background: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
}

.auth-box h1 {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    margin-bottom: 25px;
}

.auth-box .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.auth-box form label {
    color: #eee;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


.auth-box input[type="email"],
.auth-box input[type="password"],
.auth-box input[type="text"],
.auth-box select {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


.auth-box .errors, .auth-box .errorlist {
    color: #ffdddd;
    font-size: 0.9em;
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
    text-align: left;
}


.auth-box button[type="submit"] {
    background-color: blue !important;
    border: 1px solid #FFFFFF;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.auth-box button[type="submit"]:hover {
    background-color: rgba(255, 239, 43, 0.9) !important;
    color: #333 !important;
}

.telegram-login-btn {
    display: inline-block;
    background-color: #54A9EB; 
    border: none;
    transition: background-color 0.3s;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
}

.telegram-login-btn:hover {
    background-color: #4894cf;
    text-decoration: none;
}

.auth-box p, .auth-box p a {
    color: #eee;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    margin-top: 20px;
    font-size: 0.9em;
}

.auth-box p a:hover {
    color: #fff;
    text-decoration: underline;
}


.site-footer .footer-main-content {
    display: none;
}

.footer-copyright-bar {
     background-color: rgba(0, 0, 0, 0.8);
     border-top: 1px solid rgba(255, 255, 255, 0.1);
} 